html, body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #121212;
  height: 100%;
}

h1,h1,h3,p,li {
  color: #f0f0f0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}